.logo-container {
  position: fixed;
  left: 50%;
  top: 0;
  width: 90%;
  z-index: -999;
  opacity: 0; 
  animation: fade-in 2s 2s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.3;
  }
}

.logo-container svg {
  transform: rotate(25deg);
}

svg path {
  stroke-dashoffset: 3500;
  stroke-dasharray: 3500;
  animation: draw 20s linear infinite;
}

svg g {
  fill-opacity: 0;
  animation: fill-in 20s forwards infinite;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 13000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fill-in {
  to {
    fill-opacity: 0.3;
  }
}