.home-page {

    .text-zone {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
    }


    h1 {
        color: #fff;
        font-size: 50px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 500;

        &::before{
            content: '<h1>';
            font-family: 'La Belle Aurore';
            color: #ffd700;
        }

        &::after{
            content: '</h1>';
            font-family: 'La Belle Aurore';
            color: #ffd700;
        }

        img {
            width: 120px;
            height: 150px;
            position: relative;
            top: 20px;
            left: 15px;
            animation: rotateIn 1s linear both;
            animation-delay: 2s;
        }
    }
}   

h2{
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: 400;
    font-size: 25px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
    margin-top: 10%;
}

.flat-buttona {
    color: #08334b;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 5px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 7px 7px;
    background-color: #e8c91e;
    border: 1px solid #e8c91e;
    animation: fadeIn 1.2s 2s backwards !important;
    position: absolute;
    
    &:hover {
        background-color: #08334b;
        color: #e8c91e;
    }
}




