html{
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 300 11px/1.4 'Helvetica Neue', 'sans-serif';
  font-size: 2.5rem;
  color: #444;
  background: #08334b;
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Default style for screens wider than 768px */
body {
  font-size: 16px;
}

/* Media query for screens up to 768px wide */
@media (max-width: 768px) {
  body {
    font-size: 14px; /* Adjust font size for smaller screens */
  }
}

/* Media query for screens up to 480px wide */
@media (max-width: 480px) {
  body {
    font-size: 12px; /* Adjust font size for even smaller screens */
  }
}
